<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springboot.mapper.ContactMapper">
    <select id="selectByUserId" resultType="org.example.springboot.entity.Contact">
        select * from contacts where user_id = #{userId}
    </select>

    <select id="selectByIdAndUser" resultType="org.example.springboot.entity.Contact">
        select * from contacts where user_id = #{userId} and id=#{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into contacts(user_id, name, phone, landline) values(#{userId},#{name},#{phone},#{landline})
    </insert>

    <update id="update">
        update contacts set name=#{name},phone=#{phone},landline=#{landline} where id=#{id} and user_id=#{userId}
    </update>

    <delete id="deleteByIdAndUser">
        delete from contacts where id=#{id} and user_id=#{userId}
    </delete>
</mapper>